:root {
    --padding: 0px;
}

* {
    box-sizing: border-box;
  }

body {
    width: 80%;
    margin: auto;
    /* margin-top: 100px; */
    padding: 0px;
    text-align: left;
    border: 2px solid transparent;
}

h1, .h1 {
    font-size: 2em;
    font-weight: bold;
}

form {
    border: 0px solid black;
}

svg {
    margin: auto;
    background-size: cover;
    border: 2px solid black;
    margin-top: 5px;
    max-width: 600px;
    aspect-ratio: 11995 / 6338;
    display: none;
}

#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
}

#speed_slider {
    visibility: visible;
    min-width: 200px;
}

#submit {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 2px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: auto;
}

#submit input {
    background-color: white;
}

#submit input:hover {
    background-color: lightgray;
}
#submit input:active {
    background-color: red;
}

#srcbox, #srcbox_van, #srcbox_naar {
    width: 3em;
}

td {
    border-top:1px solid black;
    border-left:1px solid black;
}