html, body {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

form {
    border: 0px solid black;
}

/*css for "submit" is inline in html for faster load*/

#submit input:active {
    background-color: red;
}

#srcbox {
    width: 3em;
}