<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hyperion Navigator</title>
</head>
<body id="body_home_tobias">
    <form action="/" method="POST">
        <!-- Button to trigger redirect to login_tobias -->
        <button type="submit" name="tobias_button">Go to Tobias</button>
        <br><br>
        <!-- Button to trigger redirect to normal login -->
        <button type="submit" name="normal_button">Go to Normal Login</button>
    </form>
</body>
</html>