<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Kies route</title>
</head>
<body>
    <h1>Hyperion Navigator</h1>
    <form action="/" method="POST">
        <label for="speed">Snelheid: </label><span id="speed_display">1.34</span><span> m/s (1.34 is gemiddeld)</span>
        <br>
        <input type="range" min="1" max="200" value="100" class="slider" id="speed_slider" name="speed_slider">
        <br><br>
        <label for="time">Tijd:</label>
        <input type="time" id="time" name="time" step="1" required>
        <br><br>
        <label for="src">Van:</label>
        <span>#</span><input type="number" id="srcbox_van" name="srcbox_van" value="" maxlength="3" required>
        <br><br>
        <label for="src">Naar:</label>

        <span>#</span><input type="number" id="srcbox_naar" name="srcbox_naar" value="" maxlength="3" required>
        <div id="submit">
            <input type="submit">
        </div>
    </form>
    <br>
    <p><b>Let op!</b> De cijfers zijn <i>niet</i> gelijk aan de lokaalnummers. Kijk bij "kaarten" en "populaire locaties" om jouw vertrek- en aankomstpunt te vinden.</p>
    <br>
    <div id="kaarten">
        <details>
            <summary class="h1">Kaarten</summary>
            <svg id="svg_4" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/4.png') }}');"></svg>
            <svg id="svg_3" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/3.png') }}');"></svg>
            <svg id="svg_2" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/2.png') }}');"></svg>
            <svg id="svg_1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/1.png') }}');"></svg>
            <svg id="svg_0" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/BG.png') }}');"></svg>
            <svg id="svg_-1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/kelder.png') }}');"></svg>        
        </details>
    </div>
    <div id="populaire_bestemmingen">
        <details>
            <summary class="h1">Populaire locaties</summary>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Locatie (alfabetisch)</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>65</td><td>Administratie (yr-12)</td></tr>
                <tr><td>56</td><td>Auditorium</td></tr>
                <tr><td>0</td><td>Bandhok</td></tr>
                <tr><td>33</td><td>Bibliotheek</td></tr>
                <tr><td>128</td><td>Bureau V (yr-31)</td></tr>
                <tr><td>126</td><td>Decaan (yr-33)</td></tr>
                <tr><td>25</td><td>Docenten werkruimte (yr-03)</td></tr>
                <tr><td>27</td><td>Examensecretariaat (yr-01)</td></tr>
                <tr><td>3</td><td>Fietsenkelder</td></tr>
                <tr><td>147</td><td>Gym 40</td></tr>
                <tr><td>146</td><td>Gym 41</td></tr>
                <tr><td>141</td><td>Het Nest</td></tr>
                <tr><td>71</td><td>Ingang lerarenkamer</td></tr>
                <tr><td>19</td><td>Kantine</td></tr>
                <tr><td>151</td><td>Kleedruimte heren noordzijde</td></tr>
                <tr><td>139</td><td>Kleedruimte heren zuidzijde</td></tr>
                <tr><td>154</td><td>Kleedruimte dames noordzijde</td></tr>
                <tr><td>145</td><td>Kleedruimte dames zuidzijde</td></tr>
                <tr><td>92</td><td>Lokaal 24</td></tr>
                <tr><td>29</td><td>Lokaal 01</td></tr>
                <tr><td>30</td><td>Lokaal 02b</td></tr>
                <tr><td>28</td><td>Lokaal 02a</td></tr>
                <tr><td>32</td><td>Lokaal 03</td></tr>
                <tr><td>40</td><td>Lokaal 12</td></tr>
                <tr><td>39</td><td>Lokaal 13</td></tr>
                <tr><td>45</td><td>Lokaal 14</td></tr>
                <tr><td>47</td><td>Lokaal 15a</td></tr>
                <tr><td>48</td><td>Lokaal 15b</td></tr>
                <tr><td>52</td><td>Lokaal 16</td></tr>
                <tr><td>75</td><td>Lokaal 21a</td></tr>
                <tr><td>78</td><td>Lokaal 21b</td></tr>
                <tr><td>74</td><td>Lokaal 20</td></tr>
                <tr><td>79</td><td>Lokaal 22</td></tr>
                <tr><td>88</td><td>Lokaal 23a</td></tr>
                <tr><td>89</td><td>Lokaal 23b</td></tr>
                <tr><td>87</td><td>Lokaal 25 (Muzieklokaal)</td></tr>
                <tr><td>73</td><td>Lokaal 26</td></tr>
                <tr><td>104</td><td>Lokaal 34a</td></tr>
                <tr><td>103</td><td>Lokaal 34b</td></tr>
                <tr><td>96</td><td>Lokaal 34c</td></tr>
                <tr><td>100</td><td>Lokaal 35</td></tr>
                <tr><td>116</td><td>Lokaal 30 (3D atelier)</td></tr>
                <tr><td>113</td><td>Lokaal 32a</td></tr>
                <tr><td>112</td><td>Lokaal 32b</td></tr>
                <tr><td>107</td><td>Lokaal 33 (Makerspace)</td></tr>
                <tr><td>115</td><td>Lokaal 31 (2D atelier)</td></tr>
                <tr><td>133</td><td>Lokaal 44</td></tr>
                <tr><td>134</td><td>Lokaal 43a</td></tr>
                <tr><td>135</td><td>Lokaal 43b</td></tr>
                <tr><td>136</td><td>Lokaal 42</td></tr>
                <tr><td>156</td><td>Stormruimte</td></tr>
                <tr><td>157</td><td>Teamleider (yr-21)</td></tr>
                <tr><td>123</td><td>Teamleider (yr-35)</td></tr>
                <tr><td>26</td><td>Teamleider (yr-02)</td></tr>
                <tr><td>122</td><td>Rector (yr-36)</td></tr>
                <tr><td>57</td><td>Roostermaker</td></tr>
                <tr><td>23</td><td>WC’s begane grond</td></tr>
                <tr><td>61</td><td>WC’s 1e verdieping</td></tr>
                <tr><td>83</td><td>WC’s 2e verdieping</td></tr>
                <tr><td>108</td><td>WC’s zuidzijde 3e verdieping</td></tr>
                <tr><td>130</td><td>WC’s noordzijde 3e verdieping</td></tr>
                <tr><td>150</td><td>WC’s 4e verdieping</td></tr>
                <tr><td>129</td><td>Zorg (yr-32)</td></tr>
                <tr><td>124</td><td>Zorg (yr-34)</td></tr>
                </tbody>
            </table>
        </details>
    </div>
    <br><br><br><br><br><br><br>
    
    <script>

        const slider = document.getElementById("speed_slider");
        const display = document.getElementById("speed_display");
        
        slider.addEventListener("input", function () {
            const speed = Math.round(slider.value * 1.34) / 100;
            display.textContent = `${speed.toFixed(2)}`;
        });
        
    </script>
    <script>
        const route = {{route}};
        const graph = {{graph}};
        map = false;
    </script>
    <script src="{{ url_for('static', filename='js/submit_width.js') }}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>