<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperion Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Route van #{{ src }} naar {{dest_label}} met snelheid {{speed}} m/s.</h1>
    <h1>Route: {{route}}</h1>
    <h1>Tijd: {{time}} seconden</h1>

    <svg id="svg_4" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/4.png') }}');"></svg>
    <svg id="svg_3" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/3.png') }}');"></svg>
    <svg id="svg_2" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/2.png') }}');"></svg>
    <svg id="svg_1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/1.png') }}');"></svg>
    <svg id="svg_0" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/BG.png') }}');"></svg>
    <svg id="svg_-1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/kelder.png') }}');"></svg>

    <script>
        const route = {{route}};
        const graph = {{graph}};
    </script>
    <div id="tooltip"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/tooltip_relative.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>