<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperion Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Route</h1>
    <p>Van #{{ src }} naar #{{dest}} met snelheid {{speed}} m/s.</p>
    <p><b>Route</b>: {{route}}</p>
    <p><b>Tijd</b>: {{time}} seconden</p>
    <p><b>{{leave_message}}: </b>{{leave_time}}</p>
    <p><b>{{arrival_message}}: </b>{{arrival_time}}</p>
    <p>
        Deze plattegronden staan in volgorde van hoogte
         (hoogste eerst), niet in chronologische
         volgorde voor de route. Vertrekpunt en
         aankomstpunt zijn een grote stip. Waar
         de route stopt op een plattegrond, moet
         je omhoog/omlaag. Als verdieping 2 overgaat naar
         verdieping 0 (Begane Grond), zonder verdieping 1, dan moet je
         met de glijbaan!</p>

    <svg id="svg_4" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/4.png') }}');"></svg>
    <svg id="svg_3" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/3.png') }}');"></svg>
    <svg id="svg_2" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/2.png') }}');"></svg>
    <svg id="svg_1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/1.png') }}');"></svg>
    <svg id="svg_0" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/BG.png') }}');"></svg>
    <svg id="svg_-1" style="background-image: url('{{ url_for('static', filename='images/hyperion_plattegronden/kelder.png') }}');"></svg>

    <script>
        const route = {{route}};
        const graph = {{graph}};
    </script>
    <div id="tooltip"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/tooltip_relative.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>